<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    {% include "./components/nav.njk" %}
  
   {% include "./components/jumbotron.njk" %}

   
    <main>

        <!-- Content Section -->
        {{ content | safe }}
        <div class="container my-5">
            <h1 class="mb-4">{{ title }}</h1>
            {{oneParagraph | safe }}
        </div>

       {% include "./components/cards.njk" %}

    </main>


    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>&copy; 2023 My Website. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>