 <!-- Cards Section -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ cardImg1 }}" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ card1Title }}</h5>
                            <p class="card-text">{{ card1Text }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ cardImg2 }}" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ card2Title }}</h5>
                            <p class="card-text">{{ card2Text }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ cardImg3 }}" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ card3Title }}</h5>
                            <p class="card-text">{{ card3Text }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>